* {
    margin: 0;
}
html, body {
    height: 100%;
}
.layout {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -55px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 55px; /* .push must be the same height as .footer */
}

.header { margin-bottom: 40px;}

.popup [class*="span"] {
    float: none;
    margin-left: 0px;
}